/.htaccess
/.idea/
/api.php
/app/.htaccess
/app/code/community/Phoenix/
/app/code/core/
/app/design/
/app/etc/config.xml
/app/etc/local.xml
/app/etc/local.xml.additional
/app/etc/local.xml.template
/app/etc/modules/Mage_All.xml
/app/etc/modules/Mage_Api.xml
/app/etc/modules/Mage_Api2.xml
/app/etc/modules/Mage_Authorizenet.xml
/app/etc/modules/Mage_Bundle.xml
/app/etc/modules/Mage_Captcha.xml
/app/etc/modules/Mage_Centinel.xml
/app/etc/modules/Mage_Compiler.xml
/app/etc/modules/Mage_Connect.xml
/app/etc/modules/Mage_CurrencySymbol.xml
/app/etc/modules/Mage_Downloadable.xml
/app/etc/modules/Mage_ImportExport.xml
/app/etc/modules/Mage_Oauth.xml
/app/etc/modules/Mage_PageCache.xml
/app/etc/modules/Mage_Persistent.xml
/app/etc/modules/Mage_Weee.xml
/app/etc/modules/Mage_Widget.xml
/app/etc/modules/Mage_XmlConnect.xml
/app/etc/modules/Phoenix_Moneybookers.xml
/app/locale/
/app/Mage.php
/cron.php
/cron.sh
/downloader/
/errors/
/favicon.ico
/get.php
/index.php
/index.php.sample
/info.php
/install.php
/js/
/lib/
/LICENSE.html
/LICENSE.txt
/LICENSE_AFL.txt
/mage
/media/
/php.ini.sample
/pkginfo/
/RELEASE_NOTES.txt
/shell/
/skin/
/var/
/vendor/
