<?xml version="1.0"?>
<config>
	<modules>
		<Asm_Solr>
			<version>0.0.1</version>
		</Asm_Solr>
	</modules>

	<global>
		<helpers>
			<solr>
				<class>Asm_Solr_Helper</class>
			</solr>
		</helpers>
		<models>
			<solr>
				<class>Asm_Solr_Model</class>
				<resourceModel>solr_resource</resourceModel>
			</solr>
			<solr_resource>
				<class>Asm_Solr_Model_Resource</class>
			</solr_resource>
		</models>
		<index>
			<indexer>
				<solr>
					<model>solr/indexer_catalog</model>
				</solr>
			</indexer>
		</index>
		<blocks>
			<solr>
				<class>Asm_Solr_Block</class>
			</solr>
		</blocks>
	</global>

	<adminhtml>
		<events>
			<catalog_product_save_after>
				<!-- edit and create products -->
				<observers>
					<asm_observer_product>
						<class>solr/observer_product</class>
						<method>updateProduct</method>
					</asm_observer_product>
				</observers>
			</catalog_product_save_after>
			<catalog_product_delete_after>
				<!-- delete products -->
				<observers>
					<asm_observer_product>
						<class>solr/GarbageCollector</class>
						<method>deleteProduct</method>
					</asm_observer_product>
				</observers>
			</catalog_product_delete_after>
		</events>
	</adminhtml>

	<frontend>
		<routers>
			<solr>
				<use>standard</use>
				<args>
					<module>Asm_Solr</module>
					<frontName>search</frontName>
				</args>
			</solr>
		</routers>
	</frontend>

	<default>
		<solr>
			<connection>
				<scheme>http</scheme>
				<host>localhost</host>
				<port>8080</port>
				<path>solr/</path>
			</connection>
		</solr>
	</default>
</config>