<?xml version="1.0"?>
<config>
	<modules>
		<Asm_Solr>
			<version>0.0.1</version>
		</Asm_Solr>
	</modules>

	<global>
		<helpers>
			<solr>
				<class>Asm_Solr_Helper</class>
			</solr>
		</helpers>
	</global>
	<adminhtml>

	</adminhtml>

	<default>
		<solr>
			<connection>
				<scheme>http</scheme>
				<host>localhost</host>
				<port>8080</port>
				<path>solr/</path>
			</connection>
		</solr>
	</default>
</config>