<?xml version="1.0"?>
<config>
	<modules>
		<Asm_Solr>
			<version>0.12.1</version>
		</Asm_Solr>
	</modules>

	<global>
		<helpers>
			<solr>
				<class>Asm_Solr_Helper</class>
			</solr>
		</helpers>
		<models>
			<solr>
				<class>Asm_Solr_Model</class>
				<resourceModel>solr_resource</resourceModel>
			</solr>
			<solr_resource>
				<class>Asm_Solr_Model_Resource</class>
				<entities>
					<indexqueue_file>
						<table>solr_indexqueue_file</table>
					</indexqueue_file>
				</entities>
			</solr_resource>
			<cms>
				<rewrite>
					<page>Asm_Solr_Model_Cms_Page</page>
				</rewrite>
			</cms>
		</models>
		<index>
			<indexer>
				<solr_catalog>
					<model>solr/indexer_catalog</model>
				</solr_catalog>
				<solr_cms>
					<model>solr/indexer_cms</model>
				</solr_cms>
				<solr_file>
					<model>solr/indexer_file</model>
				</solr_file>
			</indexer>

			<fieldMap>
				<tcm_functions>
					<type>string</type>
					<processor>
						<tokenizer>
							<delimiter>,</delimiter>
						</tokenizer>
					</processor>
				</tcm_functions>
			</fieldMap>
		</index>
		<blocks>
			<solr>
				<class>Asm_Solr_Block</class>
			</solr>
		</blocks>
		<resources>
			<solr_setup>
				<setup>
					<module>Asm_Solr</module>
					<class>Asm_Solr_Model_Resource_Setup</class>
				</setup>
			</solr_setup>
		</resources>
	</global>

	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<Asm_Solr before="Mage_Adminhtml">Asm_Solr_Adminhtml</Asm_Solr>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>

	<adminhtml>
		<events>
			<catalog_product_save_after>
				<!-- edit and create products -->
				<observers>
					<asm_observer_product>
						<class>solr/observer_product</class>
						<method>updateProduct</method>
					</asm_observer_product>
				</observers>
			</catalog_product_save_after>
			<catalog_product_delete_after>
				<!-- delete products -->
				<observers>
					<asm_observer_product>
						<class>solr/GarbageCollector</class>
						<method>deleteProduct</method>
					</asm_observer_product>
				</observers>
			</catalog_product_delete_after>
			<catalogsearch_query_save_after>
				<observers>
					<asm_observer_query>
						<class>solr/SynonymHandler</class>
						<method>updateSynonyms</method>
					</asm_observer_query>
				</observers>
			</catalogsearch_query_save_after>
			<solr_index_page_after>
				<observers>
					<asm_observer_index_page>
						<class>solr/observer_index_page</class>
						<method>trackFiles</method>
					</asm_observer_index_page>
				</observers>
			</solr_index_page_after>
			<indexqueue_file_delete_after>
				<observers>
					<asm_observer_indexqueue_file>
						<class>solr/GarbageCollector</class>
						<method>deleteFile</method>
					</asm_observer_indexqueue_file>
				</observers>
			</indexqueue_file_delete_after>
		</events>
	</adminhtml>

	<frontend>
		<routers>
			<solr>
				<use>standard</use>
				<args>
					<module>Asm_Solr</module>
					<frontName>search</frontName>
				</args>
			</solr>
		</routers>
		<layout>
			<updates>
				<solr>
					<file>solr.xml</file>
				</solr>
			</updates>
		</layout>
		<events>
			<asm_search_query_before>
				<observers>
					<asm_querymodifier_faceting>
						<class>solr/solr_query_modifier_faceting</class>
						<method>modifyQuery</method>
					</asm_querymodifier_faceting>
					<asm_querymodifier_sorting>
						<class>solr/solr_query_modifier_sorting</class>
						<method>modifyQuery</method>
					</asm_querymodifier_sorting>
				</observers>
			</asm_search_query_before>
		</events>
	</frontend>

	<default>
		<solr>
			<connection>
				<scheme>http</scheme>
				<host>localhost</host>
				<port>8080</port>
				<path>solr/core_en/</path>
			</connection>
		</solr>
		<index>
			<files>
				<file_types>pdf, doc, docx</file_types>
			</files>
		</index>
		<log>
			<query>
				<rawPost>0</rawPost>
				<rawPut>0</rawPut>
				<rawGet>0</rawGet>
				<rawDelete>0</rawDelete>
			</query>
		</log>
	</default>
</config>